body {
    text-align: center;
    background-color: rgba(210, 105, 30, 0.4);
    padding-top: 2rem;
}
canvas {
    background-color: antiquewhite;
    border: 2rem solid rgb(165, 119, 211);
    border-radius: 13px;
    box-shadow: 0.4em 0.4em rgb(111, 133, 201); 
}
.full_body_modal {
    background-color: rgba(75, 28, 119, 0.6);
    margin: 0 20%;
    padding: 20% 20%;
}
.full_body_modal > h1 {
    color: rgb(250, 246, 246);
    font-size: 3rem;
}
