body {
    text-align: center;
    background-color: rgba(210, 105, 30, 0.4);
    padding-top: 2rem;
}
canvas {
    background-color: antiquewhite;
    border: 2rem solid rgb(165, 119, 211);
    border-radius: 13px;
    box-shadow: 0.4em 0.4em rgb(111, 133, 201); 
}
.full_body_modal {
    background: linear-gradient(rgba(230, 132, 132, 0.705), rgba(114, 143, 156, 0.671));
    margin: 0 20%;
    padding: 10% 10%;
}
.full_body_modal > h1 {
    color: rgb(250, 246, 246);
    text-shadow: 0.2em 0.2em 1.2em rgb(20, 19, 2);
    font-size: 3rem;
}
